<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:replace="fragments :: header"></nav>

<script>
    $(document).ready(function(){ $('#create').modal('show'); });
</script>


<!-- Create Recipe Modal-->
<div class="modal fade" id="create" tabindex="-1" role="form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create_recipe_header">Create Recipe</h5>
                <button id="closeCreateButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    `
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/recipes/create">
                    <div class="form-group">
                        <label>Name:
                            <input th:field="${recipe.name}" minlength="10" maxlength="50" class="form-control">
                        </label>
                        <p class="error" th:errors="${recipe.name}"></p>
                    </div>

                    <div class="form-group">
                        <label>Ingredients:
                            <input th:field="${recipe.recipeIngredients}" class="form-control">
                        </label>
                        <p class="error" th:errors="${recipe.recipeIngredients}"></p>
                    </div>

                    <div class="form-group">
                        <label>Directions:
                            <input th:field="${recipe.recipeDirections}" class="form-control">
                        </label>
                        <p class="error" th:errors="${recipe.recipeDirections}"></p>
                    </div>

                    <div class="form-group">
                        <label>Description:
                            <input th:field="${recipe.recipeDescription.description}" class="form-control"></input>
                        </label>
                        <p class="error" th:errors="${recipe.recipeDescription.description}"></p>
                    </div>

                    <div class="form-group">
                        <label>Image URL:<br>
                            <input th:field="${recipe.recipeImage.image}" class="form-control">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Category:
                            <select th:field="${recipe.recipeCategory}">
                                <option th:each="recipeCategory : ${categories}"
                                        th:value="${recipeCategory.id}"
                                        th:text="${recipeCategory.name}">
                                </option>

                            </select>
                            <p class="error" th:errors="${recipe.recipeCategory}"></p>
                        </label>
                    </div>
                    <div class="form-group">
                        <input id="createSubmitButton" type="submit" value="Add Recipe" class="btn btn-success">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("closeCreateButton").onclick = function() {
        location.href='http://localhost:8080/recipes';
    }

    document.getElementById("createSubmitButton").onclick = function() {
        location.href='http://localhost:8080/recipes';
    }

   $(document).ready(function(e) {
        $('#create').on('hidden.bs.modal', function(e) {
            window.location.href = '/recipes'
        });
    });

    $("#loginButton").hide();
    $("#registerButton").hide();
    $("#createRecipeButton").removeClass("hidden");
    $("#logoutButton").removeClass("hidden");
    $("#searchBar").removeClass("hidden");

</script>


</body>
</html>