<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>


    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">

    <script src="script.js"></script>




</head>
<body>

<header th:fragment="header">


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/recipes">The Recipe Project</a>

            </div>

            <ul class="nav navbar-nav">

                <!-- Button to trigger create recipe modal -->
                <button id="createRecipeButton" type="button" class="btn btn-primary navbar-btn hidden" data-toggle="modal" data-target="#create">
                    Create Recipe
                </button>

            </ul>

            <!--Search Bar-->
            <form id="searchBar" class="navbar-form navbar-left hidden" th:action="@{/recipes/search/results}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchTerm" id="searchTerm">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!-- Login Modal Link -->
                <li id="loginButton" class="nav-item"><a class="nav-link" href="#login" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <!-- Register Modal Link -->
                <li id="registerButton" class="nav-item"><a class="nav-link" href="#register" data-toggle="modal" data-target="#register"><span class="glyphicon glyphicon-ok"></span> Register</a></li>
                <!-- Logout Button -->
                <li class="nav-item"><a class="nav-link hidden" href="/logout" id="logoutButton"><span class="glyphicon glyphicon-remove"></span> Logout</a></li>

                <!--Profile Dropdown-->
                <!--
                <li id="profileButton" class="nav-item hidden">
                    <div class="dropdown">
                        <button class="btn navbar-btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Profile
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" id="logoutButton">Logout</a></li>
                        </ul>
                    </div>
                </li>
                -->
            </ul>
        </div>
        <!-- Redirects Nav-Buttons to Appropriate Pages  -->
        <script type="text/javascript">
            document.getElementById("createRecipeButton").onclick = function() {
                location.href='http://localhost:8080/recipes/create';
            }

            document.getElementById("loginButton").onclick = function() {
                location.href='http://localhost:8080/login';
            }

            document.getElementById("registerButton").onclick = function() {
                location.href='http://localhost:8080/register';
            }

            document.getElementById("logoutButton").onclick = function() {
                logout();
            }
        </script>
    </nav>
 </header>

 <div th:fragment="recipe-card">
     <div th:each="recipe, status : ${recipes}" class="col-xs-5 col-md-4">
         <div class="image_container">


             <a href="#recipeModal" data-toggle="modal" th:data-target="|#recipeModal${status.index}|" class="thumbnail" >
                <img class="image" th:src="@{${recipe.getRecipeImage().getImage()}}">

                <div class="caption">
                    <h3 th:text="${recipe.name}"></h3>
                </div>
             </a>
         </div>
         <div class="details-container">
             <div class="favorite-button">

             </div>

         </div>

         <div class="modal fade" th:id="|recipeModal${status.index}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h1 class="modal-title" id="recipeModalTitle" th:text="${recipe.name}"></h1>
                         <h5 class="modal-title" id="recipeModalCategory" th:text="'Category: ' + ${recipe.recipeCategory}"></h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div id="recipeModalBody" class="modal-body">
                         <img class="image" th:src="@{${recipe.getRecipeImage().getImage()}}">
                         <h3 th:text="${recipe.getRecipeDescription().getDescription()}"></h3>
                         <ul>
                            <li th:each="ingredient: ${#strings.listSplit(recipe.getRecipeIngredients().getIngredients(),',')}" th:text="${ingredient}"></li>
                         </ul>
                         <ol>
                            <li th:each="step: ${#strings.listSplit(recipe.getRecipeDirections().getDirections(),',')}" th:text="${step}"></li>
                         </ol>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

 </body>
 </html>